<p id="notice"><%= notice %></p>

<p>
  <strong>Cource name:</strong>
  <%= @punjab_cource.cource_name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @punjab_cource.group %>
</p>

<%= link_to 'Edit', edit_punjab_cource_path(@punjab_cource) %> |
<%= link_to 'Back', punjab_cources_path %>
