<div class="row">
<div class="col-md-5">
	
<table class="table table-bordered">
	<h3>Federal cources mcqs</h3>
	<thead>
		<th>Subject</th>
		<th>Class</th>
		<th>Question</th>
		<th>opt 1</th>
		<th>opt 2</th>
	</thead>
	<tbody>
		<%@fmcqs.each do |fmcq|%>
			<tr>
				<td>
					<%=fmcq.federal_cource.cource_name%>
				</td>
				<td>
					<%=fmcq.federal_cource.group.group_name%>
				</td>
				<td>
					<%=fmcq.q%>
				</td>
				<td>
					<%=fmcq.o1%>
				</td>
				<td>
					<%=fmcq.o2%>
				</td>


			</tr>
		<%end%>
		
	</tbody>
</table>


</div>

</table>


</div>
</div>