<p id="notice"><%= notice %></p>

<h1>Federal Cources</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Cource name</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @federal_cources.each do |federal_cource| %>
      <tr>
        <td><%= federal_cource.cource_name %></td>
        <td><%= federal_cource.group.group_name%></td>
        <td><%= link_to 'view teachers',view_federal_teachers_path(federal_cource), class: 'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Show', federal_cource ,class: 'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Edit', edit_federal_cource_path(federal_cource) ,class: 'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Destroy', federal_cource ,class: 'btn btn-default btn-xs',method: :delete, data: { confirm_swal: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Federal Cource', new_federal_cource_path %>
