<p id="notice"><%= notice %></p>








<table class="table table-bordered">
	<tr>
		<th> <strong>Courace Name:</strong></th>
		<td> <%= @federal_cource.cource_name %></td>
	</tr>
	<tr>
		<th><strong>class:</strong></th>
		<td>   <%= @federal_cource.group.group_name %></td>
	</tr>

	<tr>
		<th></th>
		<td></td>
	</tr>

</table>








<%= link_to 'Edit', edit_federal_cource_path(@federal_cource),class: 'btn btn-info btn-xs' %> |
<%= link_to 'Back', federal_cources_path ,class: 'btn btn-info btn-xs'%>
