<p id="notice"><%= notice %></p>

<h1>Multipul Questions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Question</th>
      <th>Option1</th>
      <th>Option2</th>
      <th>Option3</th>
      <th>Option4</th>
      <th>Option5</th>
      <th>Option6</th>
      <th>Teachercourse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @multipul_questions.each do |multipul_question| %>
      <tr>
        <td><%= multipul_question.question %></td>
        <td><%= multipul_question.option1 %></td>
        <td><%= multipul_question.option2 %></td>
        <td><%= multipul_question.option3 %></td>
        <td><%= multipul_question.option4 %></td>
        <td><%= multipul_question.option5 %></td>
        <td><%= multipul_question.option6 %></td>
        <td><%= multipul_question.teachercourse.course.name %></td>
        <td><%= link_to 'Show', multipul_question %></td>
        <td><%= link_to 'Edit', edit_multipul_question_path(multipul_question) %></td>
        <td><%= link_to 'Destroy', multipul_question, method: :delete, data: { confirm_swal: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Multipul Question', new_multipul_question_path() %>
