<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @multipul_question.question %>
</p>

<p>
  <strong>Option1:</strong>
  <%= @multipul_question.option1 %>
</p>

<p>
  <strong>Option2:</strong>
  <%= @multipul_question.option2 %>
</p>

<p>
  <strong>Option3:</strong>
  <%= @multipul_question.option3 %>
</p>

<p>
  <strong>Option4:</strong>
  <%= @multipul_question.option4 %>
</p>

<p>
  <strong>Option5:</strong>
  <%= @multipul_question.option5 %>
</p>

<p>
  <strong>Option6:</strong>
  <%= @multipul_question.option6 %>
</p>

<p>
  <strong>Teachercourse:</strong>
  <%= @multipul_question.teachercourse.course.name %>
</p>

<%= link_to 'Edit', edit_multipul_question_path(@multipul_question) %> |
<%= link_to 'Back', multipul_questions_path %>
