<div id="result"> </div>
<table class="table table-bordered">
  <tr>
    <th>Student Id</th>
    <th>Student Name</th>
    <th>Question</th>
    <th>Ans</th>
    <th>Marks</th>
    <th>submit</th>
  </tr>
  <% @teacher_quiz_questions.each do |t_q_q| %>
    <% t_q_q.student_results.each do |stu_result| %>
      <tr>
        <td><%= stu_result.user_id %></td>
        <td><%= stu_result.user.name %></td>
        <td><%= stu_result.quizquestion.course_question.question %></td>
        <td><%= stu_result.ans %></td>
        <td>
          <%= form_tag update_quiz_marks_path, remote: true, method: :get, id: "update_marks" do %>

            <input type="hidden" value=<%= stu_result.id %> name="stu_result"/>
            <!--            <input type="hidden" value=<%#= quiz_question.qqid %> name="quizquestionid"/>-->


            <%= text_field_tag :marks, stu_result.obtain,
                               placeholder: "Marks", autofocus: true,
                               class: "form-control" %>

            <br>
            <%# if stu_result.ans.to_i == 9999 %>

              <%= button_tag(type: :submit, class: "btn btn-xs btn-success") do %>
                Submit
              <% end %>

            <%# end %>


          <% end %>


        </td>
      </tr>
    <% end %>
  <% end %>
</table>