
<%= simple_form_for :created_question, { url: create_question_path , remote: true}  do |f| %>
  <%= f.error_notification %>

<h1>Question Paper MCQs</h1>
<div><%= params[:role]%></div>
  <div class="form-inputs">
    <%= f.input :q %>
    <div class="row">
    	<div class="col-md-6"> <%= f.input :o1 %></div>
    	<div class="col-md-6"><%= f.input :o2 %></div>
 <!--  -->
    </div>


    <div id="result"></div>
   
     
     
   
  </div>

  <div class="form-actions">
    <%= f.button :submit ,'submit', class: "btn btn-success" %>
  </div>
<% end %>

<br>

