

<table class="table table-bordered">
  <tr>
    <th>Question</th>
    <th>option</th>
    <th>option</th>
    <th>option</th>
    <th>option</th>
    <th>option</th>
    <th>option</th>

  </tr>
  <tr>
    <td><%=@mcq.question %></td>
    <td><%=@mcq.option1 %></td>
    <td><%=@mcq.option2 %></td>
    <td><%=@mcq.option3 %></td>
    <td><%=@mcq.option4 %></td>
    <td><%=@mcq.option5 %></td>
    <td><%=@mcq.option6 %></td>
  </tr>
</table>



<%=link_to 'go back', view_teacher_cources_path %>