<table class="table table-bordered">
  <thead>
  <th>Course Name</th>
  <th>Board Name</th>
  <th>Group Name</th>
  </thead>
  <tbody>
  <% @teacher_courses.each do |teacher_course| %>
    <tr>
      <td><%= teacher_course.course.name %></td>
      <td><%= teacher_course.course.boardgroup.board.name %></td>
      <td><%= teacher_course.course.boardgroup.group.name %></td>
      <td><%= link_to 'create Question',new_course_question_path(teacher_course),class:"btn btn-default btn-xs" %></td>
      <td><%= link_to 'view questions',view_questions_path(teacher_course),class:"btn btn-default btn-xs" %></td>
      <td><%= link_to 'Create Quiz',new_qquizzes_path(teacher_course),class:"btn btn-default btn-xs" unless teacher_course.course_questions.empty?%></td>
      <td><%= link_to 'View Quiz',view_quizs_path(teacher_course),class:"btn btn-default btn-xs" unless teacher_course.course_questions.empty?%></td>

    </tr>

  <% end %>
  </tbody>
</table>