<table class="table table-bordered">
  <tr>
    <th>Questions</th>
    <th>Option#1</th>
    <th>Option#2</th>
    <th>Option#3</th>
    <th>Option#4</th>
    <th>Option#5</th>
    <th>Option#6</th>
    <th>course Name</th>
  </tr>
  <%@mcqs.each do |mcq| %>
  <tr>
    <td><%=mcq.question %></td>
    <td><%=mcq.option1 %></td>
    <td><%=mcq.option2 %></td>
    <td><%=mcq.option3 %></td>
    <td><%=mcq.option4 %></td>
    <td><%=mcq.option5 %></td>
    <td><%=mcq.option6 %></td>
    <td><%=mcq.teachercourse.course.name %></td>
    <td><%=link_to 'edit',edit_mcq_path(mcq.id) %></td>
    <td><%= link_to 'Delete',
                    delete_mcq_path(mcq),
                    method: :delete,
                    data: { confirm_swal: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>


<td><%=link_to 'go back',view_teacher_cources_path %></td>