<table class="table table-bordered">
  <thead>
  <th>Course Name</th>
  <th>Board Name</th>
  <th>Group Name</th>
  </thead>
  <tbody>
  <% @teacher_courses.each do |teacher_course| %>
    <tr>
      <td><%= teacher_course.course.name %></td>
      <td><%= teacher_course.course.boardgroup.board.name %></td>
      <td><%= teacher_course.course.boardgroup.group.name %></td>
      <td><%= link_to 'create mcq',new_mcq_path(teacher_course),class:"btn btn-default btn-xs" %></td>
      <td><%= link_to 'view mcqs',view_mcqs_path(teacher_course),class:"btn btn-default btn-xs" %></td>
    </tr>

  <% end %>
  </tbody>
</table>