<h1>Questions</h1>


<table class="responsive nowrap table table-hover" id="dttb-course_questions" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
  <tr>
    <th data-data="question">Question</th>
    <th data-data="answer">Answer</th>
    <th data-data="type">Type</th>
    <th data-data="option1">Option1</th>
    <th data-data="option2">Option2</th>
    <th data-data="option3">Option3</th>
    <th data-data="option4">Option4</th>
    <th data-data="option5">Option5</th>

    <th data-data="teachercourse">Teachercourse</th>
    <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
  </tr>
  </thead>
  <tbody>

  <%@course_questions.each do |q| %>
    <tr>
      <td><%=q.question %></td>
      <td><%=q.answer %></td>
      <td>
        <% if q.questiontype.to_i==1 %>Fill in blank<%end %>
        <% if q.questiontype.to_i==2 %>true false<%end %>
        <% if q.questiontype.to_i==3%>mcq<%end %>
        <% if q.questiontype.to_i==4 %>descriptive<%end %>
      </td>
      <td><%=q.option1 %></td>
      <td><%=q.option2 %></td>
      <td><%=q.option3 %></td>
      <td><%=q.option4 %></td>
      <td><%=q.option5 %></td>
      <td><%=q.teachercourse.course.name %></td>
      <td><%=link_to 'Show', course_question_path(q) %> </td>
<!--      Edit button will be removed if all comment are ture-->
      <td><%=link_to 'Edit', edit_course_question_path(q) if q.question_comments.where('status=?',true).empty?
      %></td>
      <td><%=link_to 'Delete', course_question_path(q), method: :delete, data: { confirm: 'Are you sure?' } %> </td>

    </tr>
    <% q.question_comments.each do |cmt| %>

      <tr style="background: lightblue">

        <th>Comment</th><td ><%= cmt.comment %></td>
        <th>status</th><td ><%= cmt.status %></td>
        <th>By</th><td ><%= cmt.user.role %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>

</table>

<%= link_to 'Back', view_teacher_cources_path, class: 'btn btn-default btn-xs' %>

<%# @question_paper.each do |question_paper| %>

<!--  <div style="border-bottom: 2px solid gray">-->
<!--    <table class="table table-bordered">-->

<!--      <tr>-->
<!--        <th>paper title</th>-->
<!--        <td><%#= question_paper.name %></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Course</th>-->
<!--        <td> <%#= question_paper.teachercourse.course.name %></td>-->
<!--      </tr>-->






      <%# question_paper.question_answers.each do |qa| %>
<!--        <tr>-->
<!--          <th>Question: <%#= qa.question %></th>-->
<!--          <td>Answer: <%#= qa.answer %></td>-->

          <%# qa.options.each do |option| %>
<!--            <td><%#= option.opt %></td>-->
          <%# end %>
<!--        </tr>-->
      <%# end %>


<!--    </table>-->


<!--    <table class="table table-bordered" style="width: 50%;">-->
      <%# question_paper.qp_comments.each do |cmt| %>

<!--        <tr>-->
<!--          <th style="width:100%;"><%#= cmt.comment %></th>-->
<!--          <th style="width:100%;"><%#= cmt.status %></th>-->
<!--          <th style="width:100%;"><%#= cmt.user.role %></th>-->
<!--        </tr>-->

      <%# end %>
<!--    </table>-->


<!--    <%#= link_to 'Edit', edit_question_paper_path(question_paper), class: 'btn btn-default btn-xs' %> |-->
<!--    <td><%#= link_to 'Destroy', question_paper, method: :delete, data: {confirm_swal: 'Are you sure?'}, class: 'btn btn-default btn-xs' %></td>-->

<!--    <br>-->
<!--  </div>-->

<%# end %>
