<h1>Questions</h1>


<table class="responsive nowrap table table-hover" id="dttb-course_questions" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
  <tr>
    <th data-data="question">Quiz code</th>
    <th data-data="answer">Expire Date</th>
    <th data-data="option1">Questions</th>
    <th data-data="type">Teacher course</th>

 </tr>
  </thead>
  <tbody>

  <%@qquizs.each do |quiz| %>



    <tr>
      <td> <%= quiz.id %></td>
      <td><%= quiz.expire_date %></td>
      <td>
        <%quiz.course_questions.each do |quiz_question| %>
              <ul>
                <li><%=quiz_question.question %></li>
              </ul>
        <%end %>
      </td>
=
      <td><%=quiz.teachercourse.course.name %></td>

      <td><%= link_to 'Mark Quiz',mark_quiz_path(quiz),class:"btn btn-default btn-xs"%></td>

         <td><%= link_to 'Edit', edit_qquiz_path(quiz) %> |
      <%= link_to 'Back', qquizzes_path %>
    </td></td>
    </tr>
    <%# q.question_comments.each do |cmt| %>

<!--      <tr style="background: lightblue">-->

<!--        <th>Comment</th><td ><%#= cmt.comment %></td>-->
<!--        <th>status</th><td ><%#= cmt.status %></td>-->
<!--        <th>By</th><td ><%#= cmt.user.role %></td>-->
<!--      </tr>-->
    <%# end %>
  <% end %>
  </tbody>

</table>

<%= link_to 'Back', view_teacher_cources_path, class: 'btn btn-default btn-xs' %>

<%# @question_paper.each do |question_paper| %>

<!--  <div style="border-bottom: 2px solid gray">-->
<!--    <table class="table table-bordered">-->

<!--      <tr>-->
<!--        <th>paper title</th>-->
<!--        <td><%#= question_paper.name %></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>Course</th>-->
<!--        <td> <%#= question_paper.teachercourse.course.name %></td>-->
<!--      </tr>-->






      <%# question_paper.question_answers.each do |qa| %>
<!--        <tr>-->
<!--          <th>Question: <%#= qa.question %></th>-->
<!--          <td>Answer: <%#= qa.answer %></td>-->

          <%# qa.options.each do |option| %>
<!--            <td><%#= option.opt %></td>-->
          <%# end %>
<!--        </tr>-->
      <%# end %>


<!--    </table>-->


<!--    <table class="table table-bordered" style="width: 50%;">-->
      <%# question_paper.qp_comments.each do |cmt| %>

<!--        <tr>-->
<!--          <th style="width:100%;"><%#= cmt.comment %></th>-->
<!--          <th style="width:100%;"><%#= cmt.status %></th>-->
<!--          <th style="width:100%;"><%#= cmt.user.role %></th>-->
<!--        </tr>-->

      <%# end %>
<!--    </table>-->


<!--    <%#= link_to 'Edit', edit_question_paper_path(question_paper), class: 'btn btn-default btn-xs' %> |-->
<!--    <td><%#= link_to 'Destroy', question_paper, method: :delete, data: {confirm_swal: 'Are you sure?'}, class: 'btn btn-default btn-xs' %></td>-->

<!--    <br>-->
<!--  </div>-->

<%# end %>
