
<%= simple_form_for(@qp_comment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :comment,hint: 'Type comment againts selected question paper' %>
    <%= f.input :status %>
    <%#= f.association :question_paper %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
