<%#= simple_form_for(@question_paper) do |f| %>
<div id="err" style="color:red;"></div>
<%= nested_form_for @question_paper do |f| %>
  <%#= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="form-inputs">
    Question paper Title:<%= f.text_field :name, :required => true %>
    <%#= f.association :teachercourse %>
  </div>


  <!--  <select id="paper_option">-->
  <!--    <option value=""></option>-->
  <!--    <option value="1">mcq</option>-->
  <!--    <option value="2">true flase</option>-->
  <!--    <option value="3">destriptive</option>-->
  <!--  </select>-->

  <div id="mcq_form">


    <!------------------muyltipul choise---------------------------------------->



    <%= f.fields_for :question_answers do |option| %>

      <br>
      Question: <%= option.text_field :question, :required => true %>
      <br><br>
      Answer: <%= option.text_field :answer , :required => true%>



      <!----------------nested mcq option ------------------------>


      <%= option.fields_for :options do |o| %>

        <br>
        option: <%= o.text_field :opt %>

        <br> <br>
        <%= o.link_to_remove "option -", class: 'btn btn-info btn-xs' %>
      <% end %>
      <br> <br>

      <p><%= option.link_to_add "option +", :options, class: 'btn btn-success btn-xs' %></p>


      <!----------------------------------->


      <br> <br>
      <%= option.link_to_remove "Remove  question", class: 'btn btn-info btn-xs' %>
    <% end %>
    <br> <br>
    <p><%= f.link_to_add "Add Questions", :question_answers, class: 'btn btn-success btn-xs aq' %></p>


  </div>







































  <%#= f.submit 'Submit', class: ('hidden' if @c_req.empty?) %>


  <div class="form-actions"  >
    <%= f.button :submit %>
  </div>
<% end %>








