<h1>Question Papers</h1>
<% @teacher_courses.each do |tc| %>
  <% tc.question_papers.each do |question_paper| %>

    <table class="table table-bordered">

      <tr>
        <th>paper title</th>
        <td><%= question_paper.name %></td>
      </tr>
      <tr>
        <th>Course</th>
        <td> <%= question_paper.teachercourse.course.name %></td>
      </tr>






      <% question_paper.question_answers.each do |qa| %>
        <tr>
          <th>Question: <%= qa.question %></th>
          <td>Answer: <%= qa.answer %></td>

          <% qa.options.each do |option| %>
            <td><%= option.opt %></td>
          <% end %>
        </tr>
      <% end %>


    </table>


    <%= link_to 'comment', new_qp_comment_path(question_paper), class: 'btn btn-success btn-xs' %>
    <table class="table table-bordered" style="width: 50%; border-bottom: 5px solid gray">
      <tr>
        <th>Comment</th>
        <th>Status</th>

      </tr>
      <% question_paper.qp_comments.each do |cmt| %>


        <tr>
          <td><%= cmt.comment %></td>
          <td><%= cmt.status %></td>

        </tr>

      <% end %>
    </table>

    <!--    <%#= link_to 'Edit', edit_question_paper_path(question_paper) %> |-->
    <!--    <td><%#= link_to 'Destroy', question_paper, method: :delete, data: { confirm_swal: 'Are you sure?' } %></td>-->
    <%= link_to 'Back', 'javascript:history.go(-1);' %>
    <%= link_to 'Teachers', teachers_path %>






  <% end %>
<% end %>