<p id="notice"><%= notice %></p>

<h1>Adminteachers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Teacher name</th>
       <th>Teacher Email</th>
      <th>Federal Board Cources</th>
      <th>Punjab Board Cources</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adminteachers.each do |adminteacher| %>
      <tr>
        <td><%= adminteacher.teacher_name %></td>
        <td><%= adminteacher.teacher_email%></td>
        <td>
          <% adminteacher.federal_cources.each do |cource_name| %>
          
            <ul>
             <li><%= cource_name.cource_name %></li>
          </ul>
          <%end%>
            
        </td>
  
   
    <td>  
      <% adminteacher.punjab_cources.each do |cource_name| %>
      <ul>
        <li><%= cource_name.cource_name %></li>
      </ul>
      

       <%end%>

      


     </td>

        <td><%= link_to 'Show', adminteacher %></td>
        <td><%= link_to 'Edit', edit_adminteacher_path(adminteacher) %></td>
        <td><%= link_to 'Destroy', adminteacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adminteacher', new_adminteacher_path %>
